<%- include("../includes/head.ejs") %>

    <body>
        <%- include("../includes/nav.ejs") %>

            <main>
                <% if(products.length>0){ %>
                    <ul>
                        <% products.forEach(p=>{%>
                            <li>
                                <p>
                                    <%= p.title %> (<%=p.quantity%>)
                                </p>
                                <form action="/cart-delete-item" method="post">
                                    <input type="hidden" value="<%=p._id%>" name="productId" />
                                    <button class="btn" type="submit">Delete</button>
                            </li>
                            <%})%>
                    </ul>
                    <hr />
                    <div class="centered">
                        <form action="/create-order" method="post">
                            <button type="submit" class="btn">Order now!</button>
                        </form>
                    </div>
                    <%} else{ %>
                        <h1>No products in Cart</h1>
                        <% } %>
            </main>

            <%- include("../includes/end.ejs") %>