<%- include("../includes/head.ejs") %>

    <body>
        <%- include("../includes/nav.ejs") %>

            <main>
                <%if(orders.length<=0){%>
                    <h1></h1>
                    <%}else{%>
                        <ul>
                            <% orders.forEach(order=>{%>
                                <li>
                                    <h1>#<%=order._id %>
                                    </h1>
                                    <ul>
                                        <% order.products.forEach(p=>{%>
                                            <li>
                                                <%=p.productData.title%>
                                                    <%=p.quantity%>
                                            </li>
                                            <%})%>
                                    </ul>
                                </li>
                                <%})%>
                        </ul>
                        <%}%>
            </main>

            <%- include("../includes/end.ejs") %>